<div class="navigation">
    <button type="button" class="btnNav eNavFold"><i aria-hidden="true" class="icon icoNav"></i>navigation</button>
    <div class="navigation__category RW">
        <!--@css(/css/module/layout/category.css)-->
        <ul>
            <li><a href="/layout/basic/company.html">회사소개</a></li>
            <li><a href="/layout/basic/portfolio.html">포트폴리오</a></li>
            <li><a href="/layout/basic/partner.html">업체 제휴문의</a></li>
            <li><a href="/layout/basic/creator.html">셀럽 제휴문의</a></li>
        </ul>
    </div>
    <div class="navigation__util displaynone"></div>
</div>
