<aside id="aside" module="layout_slidePackage">
    <!--@css(/layout/basic/css/slideMenu.css)-->
    <!--@js(/layout/basic/js/slide_menu.js)-->
    <nav class="navigation-menu needu-side-menu" role="navigation">
        <div class="navigation-menu__board">
            <ul class="categoryList">
                <li class="menu"><a href="/layout/basic/company.html">회사소개</a></li>
                <li class="menu"><a href="/layout/basic/portfolio.html">포트폴리오</a></li>
                <li class="menu"><a href="/layout/basic/partner.html">업체 제휴문의</a></li>
                <li class="menu"><a href="/layout/basic/creator.html">셀럽 제휴문의</a></li>
            </ul>
        </div>
    </nav>
    <button type="button" class="btnClose"><i aria-hidden="true" class="icon icoClose"></i>닫기</button>
</aside>
